.box{
    height: 400px;
    width: 400px;
    background-color: aquamarine;
    margin: 100px auto;
    /*transition-property: all;
    transition-delay: 1s;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(.19,1.62,.97,-0.58); */
    transition: all 0.5s linear;
}
.box:hover{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: blueviolet;
    transform: rotate(180deg);
}