h1{
    color:blue;
    background-color: aqua;
    text-align: center;

}

p{
    color:blueviolet;
    text-transform: capitalize;
    text-indent: 100px;
    letter-spacing: 3px;
    word-spacing: 25px;
    line-height: 30px;
}